<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link href="/styles/style.css" rel="stylesheet" />
  </head>
  <body class="bg-red-500 text-white h-screen flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4">Oops! Something went wrong.</h1>
      <p class="text-xl"><%= message %></p>
      <a href="/" class="mt-4 inline-block text-white underline"
        >Go back to home</a
      >
    </div>
  </body>
</html>